/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 600px;
	margin: 0px auto;
	border: 3px solid #931420;
	align-content: center;
	background-color: #fffded

}

/* the styles for the header */
header {
	border-bottom: 3px solid #931420;
	padding-top: 1.5em;
	padding-bottom: 2em;
	background: linear-gradient(30deg, #f6bb73 0%,#f6bb73 30%, #FFFFFF 50%, #f6bb73 80%, #f6bb73 100%);
}

header img {
	float: left;
	padding-left: 30px;
	padding-right: 30px;
}

header h2 {
	font-size: 170%;
	color: #800000;
}

.shadow {
	text-shadow: 1px 1px #800000;
}

header h3{
	font-size: 130%;
	font-style: italic;
}

/* the styles for the section */
main {
	clear: left;
	padding: 0px 30px;
}
main h1 {
	font-size: 150%;
	border-bottom:3px solid #931420;
	border-top: 3px solid #931420;
	padding: .3em 0;
}
main h2 {
	font-size: 130%;
	color: #800000;
	padding: .5em 0 .25em 0;
}
main h3{
	font-size: 105%;
}

* a:hover{
	font-style: italic;
}

main img {
	padding-bottom: 1em;
}

main p {
	padding-bottom: .5em;
}

main blockquote {
	padding-left: 2em;
	padding-right: 2em;
	font-style: italic;
}

main ul {
	padding-bottom: .25em;
	padding-left: 1.25em;
}

main li {
	padding-bottom: .35em;
}
/* the styles for the footer */
footer {
	background-color: #931420;
	color: #FFFFFF;
}

footer p{
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
}

/* Reset selector */

*{
	margin: 0;
	padding: 0;
}